ion-content{
    --padding-top: 50px
}

ion-img{
    margin-top: 30px;
    width: 250px;
    display: flex;
    margin: auto;
    padding: 10px;
}

p{
    text-align: center;
    font-weight: 700;
    color: 0d0d0d;
    padding: 10px;
}