<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Equipamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button *ngFor="let equipamento of equipamentos">  <!-- (click)="toast('midle')" -->
      <ion-thumbnail slot="start" class="thumb">
        <img src="{{equipamento.foto}}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{equipamento.nome}}</h2>
        <p>{{equipamento.marca}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>